/* https://www.brandmarketing.iastate.edu/brand-elements/color-palette/ */
body{

}

header{
    font: Helventica;
}

.headerLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C8102E;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F1BE48;
}



.container{
    background-color: blue;
}


#container{
    background-color: white;
}

